.navbar-items1{
    font-size: 30px;
    width: 450px;
}
.navbar-items2{
    font-size: 30px;
    width: 550px;
}
.navbar-items3{
    font-size: 30px;
    width: 200px;
}
.navbar-items4{
    font-size: 30px;
    width: 250px;
}
.nav1{
    box-shadow: 2px 2px 2px 2px lightseagreen;
 
}